/* Umon theme, by thelowsunoverthemoon */

/* COLOUR CODES FOR CUSTOMIZATION 
Deep purple - used for post title and tagline buttons:#561f3b

Grey - used for border of input, border of buttons, flair selection border on hover, sidebar colour, hover colour for subreddit name on header, and tab border:#6d6f72

Azure blue - used for visited links, active buttons (the background colour when you press on them), link borders, linkinfo (the box that says date, time, upvotes, ect), expanded expando buttons, non-stickied tagline (the one that says when it was submitted on the link), the line beneath the "edit" flair, border surrounding the userbar, and blockquote border on the left:#46a6ea

Dark green - used for stickied link text:#2b6055

Light green - used for sticky link background:#71c6b3

Light grey - used for background of buttons, unsubscribe button, background of footer, background of tabmenu, background for slide-in menu of userbar and sidebar:#b1b5bc

Azure blue 2 - used for background of submit button, background of subscribe button, background and border (unhover) of flair selector:#95dbd8

/* MESSAGE */

#header .pagename a:after {
    content: "A fluid, clean theme";
    position: absolute;
    width: 340px;
    margin-left: -170px;
    top: 50px;
    left: 50%;
    font-size: 18px;
    pointer-events: none;
    color:white;
}
/* Hear you can customize what header image you want, and what color you want the subreddit name to be when hovered */
#header {
    background: #ff4b1f;
    background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
    background: linear-gradient(to right, #1fddff, #ff4b1f);
    height: 250px;
}
#header .pagename a:hover, body.with-listing-chooser #header .pagename a:hover {
    color: #6d6f72;
}
/* UMON CORE*/

*, *:after, *:before {
    border-radius: 0!important;
    font-family: "Segoe UI", Arial;
}
a:link {
    color: #2c2249;
}
a:visited {
    color: #46a6ea;
}
body {
    overflow-x: hidden;
}
#editShortcutDialog input[type=text], #search input[type=text], .c-form-control, .combined-search-page search input[type=text], .linefield input[type=text], .linkinfo .shortlink input, .login-form-side input[type=password], .login-form-side input[type=text], .pretty-form input[type=text], .pretty-form textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield textarea, input[type=text], textarea {
    border: 1px solid #6d6f72;
    outline:none!important;
}
input[type="checkbox"],
input[type=radio] {
  -webkit-appearance: none;
  vertical-align: middle;
  margin-top: 0!important;
  width: 16px!important;
  height: 16px;
  outline:none;
  text-align: center
}

input[type="checkbox"]:checked,input[type="radio"]:checked { background: #149ef0 }
input[type="checkbox"]:not(:checked),input[type="radio"]:not(:checked) { background: #911a3f }

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after { font-size: 12px; color: #fff; content: "✓" }

input[type="checkbox"]:not(:checked):after,
input[type="radio"]:not(:checked):after { font-size: 12px; color: #fff; content: "✕" }

.error, .error ul {
    font-size: 14px!important;
    color: #561f3b!important;
    text-align: center;
    width: 100%;
}
select {
    box-shadow: none;
    border: 0;
    padding: 5px;
    font-size: 13px;
    color: #3b6a7a;
}
div.description a {
    color: #3b6a7a!important;
}
button.cancel, button[name="preview"], .usertext .help-toggle a, .usertext a.reddiquette, .content button.RESBigEditorPop, span.RESshortcutside, span.RESshortcutside.remove, span.RESDashboardToggle, span.RESDashboardToggle.remove, button, .usertext .help-toggle a, .usertext a.reddiquette, .flair-jump button, body #userTaggerToolTip input[type=submit], body #editShortcutDialog [name=shortcut-save], .wiki-page .wiki-page-content .wiki_button {
    border: 2px solid transparent;
    padding: 5px 10px;
    background: #b1b5bc;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    box-shadow: none!important;
    outline: none!important;
    transition: .2s;
}
.RESSubscriptionButton {
    background: #b1b5bc!important;
    color: #000!important;
    text-transform: uppercase;
    transition: .2s;
}
.usertext .help-toggle a, .usertext a.reddiquette {
    display: inline-block;
}
.usertext .help-toggle a.option {
    margin-right: 6px;
}
button.cancel:hover, button[name="preview"]:hover, .usertext .help-toggle a:hover, .usertext a.reddiquette:hover, .content button.RESBigEditorPop:hover, span.RESshortcutside:hover, span.RESshortcutside.remove:hover, span.RESDashboardToggle:hover, span.RESDashboardToggle.remove:hover, button:hover, .usertext .help-toggle a:hover, .usertext a.reddiquette:hover, .flair-jump button:hover, body #userTaggerToolTip input[type=submit]:hover, body #editShortcutDialog [name=shortcut-save]:hover, .wiki-page .wiki-page-content .wiki_button:hover {
    border-color: #6d6f72;
}
button.cancel:active, button[name="preview"]:active, .usertext .help-toggle a:active, .usertext a.reddiquette:active, .content button.RESBigEditorPop:active, span.RESshortcutside:active, span.RESshortcutside.remove:active, span.RESDashboardToggle:active, span.RESDashboardToggle.remove:active, button:active, .usertext .help-toggle a:active, .usertext a.reddiquette:active, .flair-jump button:active, body #userTaggerToolTip input[type=submit]:active, body #editShortcutDialog [name=shortcut-save]:active, .wiki-page .wiki-page-content .wiki_button:active {
    background: #46a6ea;
    border-color: transparent;
    color: #fff;
}
span.RESshortcutside, span.RESshortcutside.remove, span.RESDashboardToggle, span.RESDashboardToggle.remove {
    display: flex;
    max-width: 80px;
}

#header-bottom-left {
    text-align: center;
}
#header .pagename {
    font-size: 0;
}
#header .pagename a, body.with-listing-chooser #header .pagename a {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin: 0;
    font-size: 34px;
    color: #fff;
    text-decoration: none!important;
    transition: .2s;
    margin-top:50px;
}
#header .pagename a:before { 
    content:"r/"
}
#header-img.default-header {
    display: none;
}
body>.content {
    margin: 60px 20px 20px 10px;
}
.link {
    background: #c7ccd6;
    transition: .2s;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    border-bottom: 2px solid #555b66;
    border-left: 5px solid #46a6ea;
    padding: 10px;
    width: 100%;
    margin-top:5px;
}
.link:hover {
    background: #d7dbe2;
    border-bottom-color: #46a6ea;
}

.link .thumbnail {
    margin-top:10px;
    height: 50px;
}
.linkinfo {
    background:#d7dbe2; 
    border:1px solid #46a6ea;
    text-align: center;
}
.thing .entry.res-selected, 
.thing .entry.res-selected .md-container {
    background-color: transparent!important;
    outline: none!important;
}
.thing.stickied.link a.title,.tagline .stickied-tagline, .search-result-meta .stickied-tagline,.stickied .tagline {
    color: #2b6055!important;
}
.stickied {
   background-color:#71c6b3;
   border-left-color:grey;
}

.stickied:hover {
   opacity:0.9;
   background-color:#71c6b3;
}

.expando-button, .expando-button.expanded {
    background-image: none!important;
    position:absolute;
    right:20px;
}
.expando-button:after,.expando-button.expanded:after {
    position:absolute;
    right:80px;
    top:-30px;
    background-color: #e1e1e1;
    content:"EXPAND";
    padding:10px;
    transition:0.2s;
}
.expando-button.expanded:after {
    background-color: #46a6ea;
    content:"UNEXPAND";
}
.rank {
    display: none;
}
.thing .title, span.domain, span.domain a, .tagline, .flat-list.buttons a:not(pretty-buttons), span.redditSingleClick:after, .trending-subreddits .comments, .sponsored-tagline {
    font-size: 12px;
    font-weight: 400;
    color: #561f3b;
}
.thing .title {
    font-size: 15px;
}
.link .tagline {
    color: #46a6ea;
}
.link .entry, .comment .entry {
    border-left: 2px solid #35393f;
    padding: 6px 0 6px 10px;
    transition: .5s;
}
a.author, .comment .author {
    color: #182130;
}
.comment .child, .comment .showreplies {
    border: none;
}
.arrow.up, .arrow.upmod, .arrow.down, .arrow.downmod {
    background-image: none;
    width: 20px!important;
    height: 20px!important;
    text-align: center;
    transition: .3s;
}
.arrow.up:hover, .arrow.upmod:hover, .arrow.down:hover, .arrow.downmod:hover {
    opacity: .6;
}
.arrow.up, .arrow.upmod {
    margin-bottom: 5px;
}
.arrow.down, .arrow.downmod {
    margin-top: 5px;
}
.arrow.upmod:after {
    line-height: 20px;
    font-size: 15px;
    color: #F26C4F;
}
.arrow.downmod:after {
    line-height: 20px;
    font-size: 15px;
    color: #7b9af4;
}
.arrow.down:after {
    line-height: 20px;
    font-size: 15px;
    color: #000;
}
.arrow.up:after {
    line-height: 20px;
    font-size: 15px;
    color: #000;
}
.arrow.up:after, .arrow.upmod:after {
    content: "▲"}
.arrow.down:after, .arrow.downmod:after {
    content: "▼"}
.side {
    background: #fff;
    position: fixed;
    float: right;
    right: -400px;
    z-index: 9999;
    transition-duration: .5s;
    top: 0!important;
    height: 100%;
    padding: 6px 16px;
    overflow-y: auto;
    transition-delay:0.3s;
    border: 2px solid #6d6f72;
}

.side:before {
    content: "< Sidebar";
    color: #000;
    text-align: center;
    position: fixed;
    top: 50vh;
    right: 0;
    padding:10px;
    background: #b1b5bc;
    z-index: -1000;
    font-size: 15px;
    transition:0.5s;
    transition-delay:0.2s;
}
.side:hover:before {
    right: -100px;
}
.side:hover {
    right: 0;
}

div.content:after {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    color: #64346d;
    content: "CSS theme Umon";
    text-transform: none;
    font-size: 16px;
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0;
    transition: .2s;
}
div.content:hover:after {
    color: #7ba8b2;
}
#search {
   position: fixed;	
  left: 20px;			
  top: 40px;			
  z-index: 1;
    width: 300px;
}
#search input[type=text] {
    padding: 10px 25px 10px 16px;
    border: 1px solid #362f42;
    border-radius: 2px;
    outline: none!important;
    transition: all .25s ease;
}
#searchexpando {
    background: #fff;
    transition:none;
    text-align:left;
    border: 1px solid #000;
}
.morelink {
    position: fixed;
    top: 90px;
    background: #95dbd8;
    left: 20px;
    width: 300px;
    height: 36px;
    line-height: 36px;
    border: none;
    text-align: left;
    padding: 0 16px;
    transition: .2s;
}

.morelink:hover {
    background: #5d8c89;
}
.morelink:active {
    background: #50a863;
}
.morelink a {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    color:#6d6f72;
}
.morelink a:hover {
    color: #fff!important;
}
.account-activity-box, .sidebox.create, .morelink .nub, .sidebox.submit.submit-text, .titlebox form.toggle, .titlebox .users-online:before, .titlebox .word {
    display: none;
}
.login-form-side {
    border: none;
}
.login-form-side input[type=text], .login-form-side input[type=password] {
    width: 128px;
}
.login-form-side button.btn {
    margin-right: -3px;
}
.titlebox h1 {
    text-align:center;
    font-size: 25px;
    transition:0.5s;
}
.titlebox h1:hover {
    letter-spacing:2px;
}
.titlebox span.subscribers, .titlebox .users-online, .titlebox .number {
    color: #999;
    font-size: 14px;
    position: relative;
    top: 2px;
    left: -2px;
}
.titlebox .users-online {
    display: inline;
}
div.titlebox span.number:after {
    content: " readers, "}
.titlebox .users-online .number:before {
    content: ""}
.titlebox .users-online .number:after {
    content: " here"}
.titlebox .users-online, .titlebox .number {
    cursor: text;
}
.titlebox .tagline {
    font-size: 14px;
    margin-top: 10px;
}
.titlebox .tagline:after {
    content: "";
    height: 2px;
    background-color: #46a6ea;
    display: block;
    margin-top: 16px;
}
.titlebox .tagline a.flairselectbtn {
    color: #64cc72;
}
.titlebox .tagline a.flairselectbtn:after {
    content: " flair"
}
.leavemoderator, .titlebox .tagline a.author, .sidebox .subtitle{
    display: none;

}
.titlebox form.flairtoggle {
    display:block;
    font-size:0;
    margin-top:2px;
}
.titlebox form.flairtoggle:after {
    position:relative;
    content:"Show flair?";
    top:5px;
    font-size:13px;
}
.titlebox .fancy-toggle-button{
	position:relative;
}

.titlebox .fancy-toggle-button .add,.fancy-toggle-button .remove {
        font-size: 15px;
        padding: 12px 10px;
        line-height:10px;
	position:absolute;
	right:-268px;
	top:10px;
	background-image:none;
        border: 3px solid transparent;
	transition:0.2s;
        color: #fff!important;
        text-transform: uppercase;
	outline:none!important;
}

.titlebox .fancy-toggle-button .add:hover, .fancy-toggle-button .remove:hover {
    border-color: #b1b5bc;
}
.titlebox .fancy-toggle-button .add:active, .fancy-toggle-button .remove:active {
    border-color: transparent;
}
.titlebox .fancy-toggle-button .add {
    background-color: #95dbd8;
}
.titlebox .fancy-toggle-button .add:hover {
    color: #000!important;
}
.fancy-toggle-button .remove {
    background-color: #b1b5bc;
}
.fancy-toggle-button .remove:hover {
    background-color: rgba(0, 0, 0, 0.55);
}
.hover-bubble.multi-selector {
    margin-top: -60px;
}
.titlebox .bottom {
    display: none;
}
.side #moderation_tools .title h1 {
    text-transform: capitalize;
    color: #4D5763;
}
.side #moderation_tools .title .collapse-button {
    color: #4D5763;
    vertical-align: middle;
    border-radius: 1px;
    border: 1px solid #d8d8d8;
}
.side .sidecontentbox .content {
    border: none;
    padding: 8px 0;
}
.icon-menu a {
    background-color: transparent;
}
#ad_sponsorship, #ad-frame, #ad_main {
    margin-left: -16px;
}
#ad_sponsorship {
    margin-top: -18px;
    border-radius: 2px 2px 0 0;
}
.gadget .midcol {
    width: 38px;
}
.tabmenu {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
}
.tabmenu li {
    margin: 2px;
}
.tabmenu li a {
    padding: 10px 20px;
    border: 2px solid transparent;
    background: #b1b5bc;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    line-height: 20px;
    text-align: center;
    transition: .2s;
}
.tabmenu li:hover a {
    border-color: #6d6f72;
}
.tabmenu li.selected a {
    background: #46a6ea;
    border-color: transparent;
    color: #fff;
}
ul.tabmenu.formtab {
    position: relative;
    bottom: 0;
}

#header-bottom-right span.user a.login-required {
    display:none
}

#header-bottom-right {
    position: fixed;
    background: #fff;
    top: calc(50vh - 110px)!important;
    right: -480px;
    border: 2px solid #46a6ea;
    height: 50px;
    transition: .5s;
    transition-delay:0.3s;
}
#header-bottom-right:before {
    content: "< Userbar";
    color: #000;
    text-align: center;
    position: fixed;
    top: calc(50vh - 110px);
    right: 0;
    padding:10px;
    background: #b1b5bc;
    transition: .5s;
    z-index: -1000;
    font-size: 15px;
    transition-delay:0.3s;
}
#header-bottom-right:hover:before {
    right: -100px;
}
#header-bottom-right:hover {
    position: fixed;
    right: 10px;
}
#header .user>a, #chat, #mail.nohavemail, #mail.havemail, #modmail.nohavemail, #modmail.havemail, #new_modmail.nohavemail, #new_modmail.havemail, #header-bottom-right .pref-lang, #openRESPrefs .gearIcon, #header-bottom-right .logout a, .res .res #RESAccountSwitcherIcon {
    display: inline-block;
    position: relative;
    width: 40px!important;
    height: 40px!important;
    margin: 5px;
    top: 1px!important;
    vertical-align: top;
    font-size: 0;
    background: url(%%spritesheet%%);
}
#header-bottom-right .separator {
    display: none!important;
}
.user {
    font-size: 0;
}
#header .user>a {
    background-position: -350px 0;
}
#mail.nohavemail, #mail.havemail {
    background-position: -205px 0;
}
#modmail.nohavemail, #modmail.havemail {
    background-position: 0 0;
}
#new_modmail.nohavemail, #new_modmail.havemail {
    background-position: -850px 0;
}
#header-bottom-right .pref-lang {
    background-position: 395px 0;
}
#chat {
    background-position: 447px 0;
}
.res .res #RESAccountSwitcherIcon {
    background-position: -1005px 0;
}
#openRESPrefs .gearIcon {
    background-position: -800px -4px;
}
#header-bottom-right .logout a {
    background-position: -600px 0;
}
.beta-hint {
    position: static;
    display: inline-block
}

.beta-hint a {
    position: static;
    margin-left:7px;
    background:none;
}
.beta-hint a:after {
    content:"β";
    color: #50a863;
    top:20px;
    font-size:30px;
    position: absolute;
    left: -15px;
}

.res .RESDropdownList {
    width: auto;
    border: 1px solid #6d6f72;
    border-radius: 0;
    padding: 10px;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
}
.res .RESDropdownList li {
    height: 40px;
    border-bottom: 1px solid #6d6f72;
    line-height: 39px;
    font-weight: 400;
    color: #32383f;
}
.res-accountSwitcher-dropDownStyle-alien #RESAccountSwitcherIconOverlay {
    background: none;
}
.commentarea .menuarea {
    margin-top: 10px;
    margin-right: 0;
}
.commentarea .menuarea, .commentarea .menuarea .toggle a {
    font-size: 12px;
    font-weight: 400;
    color: #9da5a5;
}
.dropdown.lightdrop .selected {
    background: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #3a98d8;
}
.dropdown.lightdrop .selected:after {
    content: " ▾"}
div.drop-choices.lightdrop.inuse a.choice {
    color: #182130;
}
.commentarea .commentNavSortType {
    margin-right: 8px;
    font-weight: 400;
}
.commentarea .commentNavSortType + .commentNavSortType {
    border: 0;
    padding: 0;
    margin: 0;
    margin-right: 8px;
}
#REScommentNavToggle span:not(:first-of-type) {
    display: none;
}
.gold-accent, .gold-accent.comment-visits-box {
    border: 0;
    background: none;
    color: #182130!important;
}
.commentarea .thing {
    background: #d7dbe2;
    transition: .2s;
    padding: 5px;
    margin-top: 10px;
}
.commentarea .thing:hover {
    opacity: .9;
}
#sr-header-area {
    background: #9da5a5;
    text-transform: uppercase;
    border-bottom: none;
    height: 30px;
    display: flex;
    align-items: center;
    transition: .3s;
}
#sr-header-area:hover {
    background: #7ba8b2;
}
#sr-header-area a {
    font-size: 11px!important;
    letter-spacing: .05em;
    text-decoration: none;
    margin: 0 5px;
}
.sr-bar a, .sr-bar .separator {
    color: #3b6a7a!important;
    vertical-align: initial;
}
.footer {
    background: #b1b5bc;
}
.submit-page #newlink.submit.content .tabmenu.formtab a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    color: #4D5763;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s;
    font-size: 16px;
    border: none;
}
.submit-page #newlink.submit.content .tabmenu.formtab .selected a {
    font-size: 16px;
    background-color: #7ba8b2!important;
    color: #4D5763!important;
}
.submit-page #newlink.submit.content {
    width: 524px;
    margin: 0 auto;
}
.roundfield, .content.submit .info-notice, .infobar {
    background: #b1b5bc;
    border: none;
    transition: .2s;
    text-align: center;
}
.roundfield:hover, .infobar:hover, .content.submit .info-notice:hover {
    opacity: .8;
}

/* FLAIR SELECTOR */
.flairselector {
  position: fixed;
  top: 20% !important;
  left: 50% !important;
  margin-left: -125px;
  padding: 16px !important;
  width: 250px !important;
  box-shadow:none;
  transition:0.2s;
}
.flairselector.drop-choices.active {
  border:2px solid #95dbd8;
}
.flairselector.drop-choices.active:hover {
  border-color:#6d6f72;
}
.flairselector h2 {
  background:#95dbd8;
}

/* STYLESHEET MESSAGE */
.stylesheet-customize-container h2 { margin: 5px 15px; font-family: arial, sans-serif; font-size: 20px; color: gray; }
#subreddit_stylesheet>h2:first-of-type:after { display:block; content: " Feel free to customize!"; font-size: 15px; margin-top:5px;}

/* BLOCKQUOTES AND BUTTONS*/
.md blockquote {
    border-left: 2px solid #46a6ea;
}

.md a[href="#button1"] + a,.md a[href="#button2"] + a,.md a[href="#button3"] + a{
	display:inline-block;
	width:95%;
	height:30px;
	border:2px solid transparent;
	padding:0 12px;
	background:none;
	line-height:26px;
        text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:17px;
	font-weight:700;
	color:#4d5968!important;
	transition:.2s
}
.md a[href="#button1"] + a:hover,.md a[href="#button2"] + a:hover,.md a[href="#button3"] + a:hover{
    border-color:#4d5968;
}
.md a[href="#button1"] + a {
  background:#66ACCA;
}
.md a[href="#button2"] + a {
  background:#6885B5;
}
.md a[href="#button3"] + a {
  background:#878789;
}
/* FLAIRS */
.flair {
  background: url(%%spritesheet2%%) #b1b5bc;
  vertical-align: middle;
  border-color:#46a6ea;
  height:50px;
  width:50px;
}
.flair-book {
  background-position:-3px -3px;
}
.flair-letter {
  background-position:-3px -65px;
}
.flair-computer {
  background-position:-3px -127px;
}
